@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-moz-selection {
  /* Code for Firefox */
  color: var(--background);
  background: var(--primary);
}

::selection {
  color: var(--background);
  background: var(--primary);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
  color: var(--text);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */
.icon {
  margin-right: 0.5rem;
}
/* DEFAULTS */
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-weight: lighter;
  font-family: "Young Serif", serif;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
  display: inline-block;
  margin-inline: auto;
  text-align: center !important;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: lighter;
  color: var(--secondary);
  position: relative;
}
h2::after {
  content: "";
  width: 100vw;
  height: 1px;
  background-color: var(--accent);
  position: absolute;
  top: 50%;
  left: 102%;
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  /* text-transform:uppercase; */
  letter-spacing: 2px;
  padding: 0.5rem 0.25rem;
  font-weight: lighter;
  font-size: var(--link);
  position: relative;
  transition: all 0.5s ease-in;
  z-index: 1;
  color: var(--text);
}
a:hover .tooltip {
  right: 120%;
  opacity: 1;
}

.tooltip {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  position: absolute !important;
  right: 170%;
  top: 50%;
  /* transform: translate(0, -70%); */
  transform: translateY(-70%);
  transform: translateX();
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary);
  color: var(--text);
  font-weight: 700;
  /* border: 1px solid var(--text); */
  border-radius: 0.25rem;
  /* width: 100%; */
  /* background-color: red; */
  opacity: 0;
  transition: all 0.2s ease-out;
}

i {
  color: var(--primary);
  font-size: 1em;
  margin-inline: 0.15em 0.25em;
}

/* 
Toggle Switch
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
